<!DOCTYPE html>

<html>

<head>
    <title>Gear Details</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Enter information about your gear to get the details.</p>

        <form>
            <label for="chainRing">Chain Ring:</label>
            <input type="text" id="chainRing" name="chainRing"><br>
            <label for="cog">Cog:</label>
            <input type="text" id="cog" name="cog"><br>
            <label for="tyreWidth">Tyre Width:</label>
            <input type="text" id="tyreWidth" name="tyreWidth" placeholder="23"><br>
            <label for="rimType">Rim Type:</label>
            <select id="rimType" name="rimType">
                <option value='700c'>700c</option>
                <option value='650c'>650c</option>
            </select><br>
            <label for="extras">Extras:</label>
            <select id="extras" name="extras">
                <option value="none">None</option>
                <option value="cadence">Cadence for given Speed</option>
                <option value="speed">Speed for given Cadence</option>
            </select><br>
            <div id="speedSection">
                <label for="speed">Speed:</label>
                <input type="text" id="speed" name="speed" placeholder="(km/h)"><br>
            </div>
            <div id="cadenceSection">
                <label for="cadence">Cadence:</label>
                <input type="text" id="cadence" name="cadence" placeholder="(rpm)"><br>
            </div>
            <div id="lapLengthSection">
                <label for="lapLength">Lap Length:</label>
                <input type="text" id="lapLength" name="lapLength" placeholder="(metres)"><br>
            </div>
            <button>Calc</button>
        </form>

        <p id="message-1">Your gear details...</p>

        <div id="gearData">
            <table>
                <tr>
                    <td>Gear Ratio:</td>
                    <td id="gearRatio"></td>
                </tr>
                <tr>
                    <td>Gear Inches:</td>
                    <td id="gearInches"></td>
                </tr>
                <tr>
                    <td>Rollout (Approx.):</td>
                    <td id="rollOut"></td>
                </tr>
            </table>
        </div>

        <div id="extrasData">
            <p>Your extras...</p>

            <table>
                <tr>
                    <td>Speed:</td>
                    <td id="speedCell"></td>
                </tr>
                <tr>
                    <td>Cadence:</td>
                    <td id="cadenceCell"></td>
                </tr>
                <div id="lapSection">
                    <tr>
                        <td>Lap Time:</td>
                        <td id="lapTime"></td>
                    </tr>
                    <tr>
                        <td>Lap Pedal Count:</td>
                        <td id="lapPedalCount"></td>
                    </tr>
                </div>
            </table>
        </div>

    </div>

    {{>footer}}

    <script src="/js/gearDetails.js"></script>
</body>

</html>