<header>
    <h1>{{title}}</h1>

    <a href="/gears">Gears</a>
    <a href="/calcSchedule">Schedules</a>
    <a href="/weatherPage">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>