body {
    color: #333456;
    font-family: arial;
    font-size: 16px;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 24px;
}

h1 {
    font-size: 32px;
    margin-bottom: 16px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 250px;
}

input {
    width: 120px;
    border: 1px solid #cccccc;
    padding: 4px 8px;
    margin: 4px;
}

.sub-input {
    width: 50px;
}

label {
    width: 100px;
    display: inline-block;
}

.sub-label {
    width: 40px;
    text-align: right;
}

select {
    padding: 2px 8px;
    margin: 4px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px 16px;
    margin-top: 8px;
}

.fields-button {
    margin-left: 108px
}

td, th {
    padding: 6px;
    text-align: left;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

tr:nth-child(even) {
    background-color: #eeeeee; 
}

th {
    background-color: #cccccc;
}

/*
@media only screen and (min-width: 760px) {
    body {
        max-width: 650px;
    
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    
    .main-content {
        flex-grow: 1;
    }
}
*/
